body {
  padding: 30px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: paleturquoise;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul li {
  list-style: none;
  padding: 20px;
  border: 1px solid #efefef;
  border-radius: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  display: inline-flex;
  background: white;
}

.todoItem {
  padding: 20px 10px;
  background-color: #efefef;
}
.todoItem:nth-of-type(2n) {
  background: lightblue;
}
:first-of-type(.todoItem) {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
header a {
  margin-right: 20px;
}
div.box {
  border: 1px solid #efefef;
  padding: 20px;
  margin-bottom: 20px;
}
